.user {
  position: relative;
  height: 100dvh;
  overflow: auto;
}
.user::-webkit-scrollbar {
  display: none;
}
.user .user-header {
  padding: 10px;
  background-color: var(--secondary);
  border-bottom: 1px solid var(--tertiary);
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}
.user .user-header .web-title {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: "Playwrite IN", serif;
  text-shadow: 0px 0px 8px rgb(255, 255, 255);
}
.user .user-header .web-title .web-logo {
  height: 32px;
  aspect-ratio: 1/1;
}
.user .user-header .logout-btn {
  padding: 5px 15px;
  background-color: var(--tertiary);
  border: 0;
  border-radius: 20px;
  font-size: 16px;
  color: var(--font);
  cursor: pointer;
  overflow: hidden;
}
.user .user-header .logout-btn:hover {
  background-color: var(--tomato);
}
.user .user-profile-section {
  padding: 10px;
}
.user .user-profile-section .user-profile {
  padding: 8px;
  display: flex;
  align-items: stretch;
  gap: 8px;
  background-color: var(--tertiary);
  border-radius: 5px;
}
.user .user-profile-section .user-profile .user-profile-img {
  margin: auto;
  height: 80px;
  width: 80px;
  background-color: var(--secondary);
  border-radius: 5px;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.user .user-profile-section .user-profile .user-profile-img:hover .upload-btn {
  bottom: 0px;
}
.user .user-profile-section .user-profile .user-profile-img #user-img {
  display: none;
}
.user .user-profile-section .user-profile .user-profile-img img {
  border-radius: 5px;
  width: 80px;
  aspect-ratio: 1/1;
}
.user .user-profile-section .user-profile .user-profile-img .upload-btn {
  width: 100%;
  background-color: rgba(31, 214, 95, 0.5);
  position: absolute;
  bottom: -25px;
  text-align: center;
  transition: all 0.2s linear;
  cursor: pointer;
}
.user .user-profile-section .user-profile .user-basic-info {
  width: 100%;
  background-color: var(--secondary);
  border-radius: 5px;
  display: grid;
  align-items: stretch;
  overflow: hidden;
}
.user .user-profile-section .user-profile .user-basic-info .user-name {
  padding: 8px;
  font-size: 18px;
  font-weight: bold;
  text-wrap: nowrap;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user .user-profile-section .user-profile .user-basic-info .user-email {
  padding: 8px;
  font-weight: bold;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}