@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --primary: #1f1f1f;
  --secondary: #303030;
  --tertiary: #404040;
  --quatnery: #505050;
  --penta: #606060;
  --grey: #808080;
  --light-grey: #b3b3b3;
  --green: #1ed760;
  --tomato : #ff6347;
  --font: #fff;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: "Nunito", serif;
}

body {
  background-color: var(--primary);
  color: var(--font);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-btn{
  color: var(--green) !important;
}

.hr{
  margin: auto;
  width: 100%;
  display: block;
  border-bottom: 1px solid var(--secondary);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }

}

@keyframes click{
  0%{
    transform: scale(0.8);
  }
  100%{
    transform: scale(1);
  }
}